tml,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
  margin: 0;
  line-height: 1;
}

.containerTop {
  font-size: 2em;
}

#rightLinks {
  padding-right: 10px;
  display: inline-block;
  float: right;
}


.containerMiddle {
  float: middle;
  display: inline-block;
  font-size: 3em;
}

#Heading {
}

.containerBottom {
  font-size: 2em;
}


li {
  list-style: none;
}


#home {
  background:pink;
  list-style-type: none;
  display: inline;
  padding-left: 10px;
}

#middleIndexButtons {
  background:yellow;
  display: inline-block;
}


